<!DOCTYPE html>
<html lang="ru">
<head>
<link rel="stylesheet" href="../style/style.css">
<link rel="stylesheet" href="../style/style_header.css">
<link rel="stylesheet" href="../style/style_form.css">
<link rel="stylesheet" href="../style/style_button.css">
<link rel="stylesheet" href="../style/style_pers_area.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet"> 
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalabel=no"/>
<title>Самотой.com</title>
</head> 
<header>
    <a href="/"><img class="logo" src="../style/icons/logo.svg" alt="invalid"></a>
     <h1>Dii Consentes</h1>
     <ul>
    <li><a href="#">Главная</a></li>
    <li><a href="#">О нас</a></li>
    <li><a href="#">Тестирование</a></li>
    </ul>
    <div class="btns">
        <a href="" class="button_enter">Выйти</a>
    </div>
</header>
<main>
    <div class="progress_container">
    <div class="timer">3:16</div>
    </div>

    <div class="test_container">
        <div class="question_1 line">
            <p class="question">1. Тест как метод изучения личности в психологии:</p>
          <div class="variants">
            <div class="answer_1">
                <input id="radio-1" type="radio" name="radio" value="1" >
                <label for="radio-1">Radio button 1</label>
            </div>

            <div class="answer_2">
                <input id="radio-2" type="radio" name="radio" value="2" >
                <label for="radio-2">Radio button 2</label>
            </div>

            <div class="answer_3">
                <input id="radio-3" type="radio" name="radio" value="3" >
                <label for="radio-3">Radio button 3</label>
            </div>
            <div class="answer_4">
                <input id="radio-4" type="radio" name="radio" value="4" >
                <label for="radio-4">Radio button 4</label>
            </div>
            <div class="answer_5">
                <input id="radio-5" type="radio" name="radio" value="5" >
                <label for="radio-5">Radio button </label>
            </div>
            </div>
        </div>


        <div class="question_2 line">
            <p class="question">2. Склонны ли Вы хохотать, смеяться от души?</p>
          <div class="variants">
            <div class="answer_1">
                <input id="radio-6" type="radio" name="group2" value="1" >
                <label for="radio-6">Radio button 1</label>
            </div>

            <div class="answer_2">
                <input id="radio-7" type="radio" name="group2" value="2" >
                <label for="radio-7">Radio button 2</label>
            </div>

            <div class="answer_3">
                <input id="radio-8" type="radio" name="group2" value="3" >
                <label for="radio-8">Radio button 3</label>
            </div>
            
            </div>
        </div>


        <div class="question_3 line">
            <p class="question">3. Любите ли Вы убеждать других, навязывать свои взгляды?</p>
          <div class="variants">
            <div class="answer_1">
                <input id="radio-9" type="radio" name="group3" value="1" >
                <label for="radio-9">Radio button 1</label>
            </div>

            <div class="answer_2">
                <input id="radio-10" type="radio" name="group3" value="2" >
                <label for="radio-10">Radio button 2</label>
            </div>

            <div class="answer_3">
                <input id="radio-11" type="radio" name="group3" value="3" >
                <label for="radio-11">Radio button 3</label>
            </div>

            <div class="answer_4">
                <input id="radio-12" type="radio" name="group3" value="4" >
                <label for="radio-12">Radio button 3</label>
            </div>
            
            </div>
        </div>


        <div class="question_4 line">
            <p class="question">4. Вы сильно беспокоитесь о возможных неприятностях:</p>
          <div class="variants">
            <div class="answer_1">
                <input id="radio-13" type="radio" name="group4" value="1" >
                <label for="radio-13">Radio button 1</label>
            </div>

            <div class="answer_2">
                <input id="radio-14" type="radio" name="group4" value="2" >
                <label for="radio-14">Radio button 2</label>
            </div>
            </div>
        </div>
        
        

        <div class="question_5 line">
            <p class="question">5. Любите ли Вы убеждать других, навязывать свои взгляды?</p>
          <div class="variants">
            <div class="answer_1">
                <input id="radio-15" type="radio" name="group4" value="1" >
                <label for="radio-15">Radio button 1</label>
            </div>

            <div class="answer_2">
                <input id="radio-16" type="radio" name="group4" value="2" >
                <label for="radio-16">Radio button 2</label>
            </div>

            <div class="answer_3">
                <input id="radio-17" type="radio" name="group4" value="3" >
                <label for="radio-17">Radio button 3</label>
            </div>

            <div class="answer_4">
                <input id="radio-18" type="radio" name="group4" value="4" >
                <label for="radio-18">Radio button 3</label>
            </div>
            
            </div>
        </div>
        
        <div class="question_6 line">
            <p class="question">6. Тест как метод изучения личности в психологии:</p>
          <div class="variants">
            <div class="answer_1">
                <input id="radio-19" type="radio" name="radio" value="1" >
                <label for="radio-19">Radio button 1</label>
            </div>

            <div class="answer_2">
                <input id="radio-20" type="radio" name="radio" value="2" >
                <label for="radio-20">Radio button 2</label>
            </div>

            <div class="answer_3">
                <input id="radio-21" type="radio" name="radio" value="3" >
                <label for="radio-21">Radio button 3</label>
            </div>
            <div class="answer_4">
                <input id="radio-22" type="radio" name="radio" value="4" >
                <label for="radio-22">Radio button 4</label>
            </div>
            <div class="answer_5">
                <input id="radio-23" type="radio" name="radio" value="5" >
                <label for="radio-23">Radio button </label>
            </div>
            </div>
        </div>


        <div class="question_7 line">
            <p class="question">7. Склонны ли Вы хохотать, смеяться от души?</p>
          <div class="variants">
            <div class="answer_1">
                <input id="radio-24" type="radio" name="group2" value="1" >
                <label for="radio-24">Radio button 1</label>
            </div>

            <div class="answer_2">
                <input id="radio-25" type="radio" name="group2" value="2" >
                <label for="radio-25">Radio button 2</label>
            </div>

            <div class="answer_3">
                <input id="radio-26" type="radio" name="group2" value="3" >
                <label for="radio-26">Radio button 3</label>
            </div>
            
            </div>
        </div>


        <div class="question_8 line">
            <p class="question">8. Любите ли Вы убеждать других, навязывать свои взгляды?</p>
          <div class="variants">
            <div class="answer_1">
                <input id="radio-27" type="radio" name="group3" value="1" >
                <label for="radio-27">Radio button 1</label>
            </div>

            <div class="answer_2">
                <input id="radio-28" type="radio" name="group3" value="2" >
                <label for="radio-28">Radio button 2</label>
            </div>

            <div class="answer_3">
                <input id="radio-29" type="radio" name="group3" value="3" >
                <label for="radio-29">Radio button 3</label>
            </div>

            <div class="answer_4">
                <input id="radio-29" type="radio" name="group3" value="4" >
                <label for="radio-29">Radio button 3</label>
            </div>
            
            </div>
        </div>


        <div class="question_9 line">
            <p class="question">9. Вы сильно беспокоитесь о возможных неприятностях:</p>
          <div class="variants">
            <div class="answer_1">
                <input id="radio-30" type="radio" name="group4" value="1" >
                <label for="radio-30">Radio button 1</label>
            </div>

            <div class="answer_2">
                <input id="radio-31" type="radio" name="group4" value="2" >
                <label for="radio-31">Radio button 2</label>
            </div>
            </div>
        </div>
        
        

        <div class="question_10 line">
            <p class="question">10. Любите ли Вы убеждать других, навязывать свои взгляды?</p>
          <div class="variants">
            <div class="answer_1">
                <input id="radio-32" type="radio" name="group4" value="1" >
                <label for="radio-32">Radio button 1</label>
            </div>

            <div class="answer_2">
                <input id="radio-33" type="radio" name="group4" value="2" >
                <label for="radio-33">Radio button 2</label>
            </div>

            <div class="answer_3">
                <input id="radio-34" type="radio" name="group4" value="3" >
                <label for="radio-34">Radio button 3</label>
            </div>

            <div class="answer_4">
                <input id="radio-35" type="radio" name="group4" value="4" >
                <label for="radio-35">Radio button 3</label>
            </div>
            
            </div>
        </div>


        <div class="question_11 line">
            <p class="question">11. Тест как метод изучения личности в психологии:</p>
          <div class="variants">
            <div class="answer_1">
                <input id="radio-36" type="radio" name="radio" value="1" >
                <label for="radio-36">Radio button 1</label>
            </div>

            <div class="answer_2">
                <input id="radio-37" type="radio" name="radio" value="2" >
                <label for="radio-37">Radio button 2</label>
            </div>

            <div class="answer_3">
                <input id="radio-38" type="radio" name="radio" value="3" >
                <label for="radio-38">Radio button 3</label>
            </div>
            <div class="answer_4">
                <input id="radio-39" type="radio" name="radio" value="4" >
                <label for="radio-39">Radio button 4</label>
            </div>
            <div class="answer_5">
                <input id="radio-40" type="radio" name="radio" value="5" >
                <label for="radio-40">Radio button </label>
            </div>
            </div>
        </div>


        <div class="question_12 line">
            <p class="question">12. Склонны ли Вы хохотать, смеяться от души?</p>
          <div class="variants">
            <div class="answer_1">
                <input id="radio-41" type="radio" name="group2" value="1" >
                <label for="radio-41">Radio button 1</label>
            </div>

            <div class="answer_2">
                <input id="radio-42" type="radio" name="group2" value="2" >
                <label for="radio-42">Radio button 2</label>
            </div>

            <div class="answer_3">
                <input id="radio-43" type="radio" name="group2" value="3" >
                <label for="radio-43">Radio button 3</label>
            </div>
            
            </div>
        </div>


        <div class="question_13 line">
            <p class="question">13. Любите ли Вы убеждать других, навязывать свои взгляды?</p>
          <div class="variants">
            <div class="answer_1">
                <input id="radio-44" type="radio" name="group3" value="1" >
                <label for="radio-44">Radio button 1</label>
            </div>

            <div class="answer_2">
                <input id="radio-45" type="radio" name="group3" value="2" >
                <label for="radio-45">Radio button 2</label>
            </div>

            <div class="answer_3">
                <input id="radio-46" type="radio" name="group3" value="3" >
                <label for="radio-46">Radio button 3</label>
            </div>

            <div class="answer_4">
                <input id="radio-47" type="radio" name="group3" value="4" >
                <label for="radio-47">Radio button 3</label>
            </div>
            
            </div>
        </div>


        <div class="question_14 line">
            <p class="question">14. Вы сильно беспокоитесь о возможных неприятностях:</p>
          <div class="variants">
            <div class="answer_1">
                <input id="radio-48" type="radio" name="group4" value="1" >
                <label for="radio-48">Radio button 1</label>
            </div>

            <div class="answer_2">
                <input id="radio-49" type="radio" name="group4" value="2" >
                <label for="radio-49">Radio button 2</label>
            </div>
            </div>
        </div>
        
        

        <div class="question_15 line">
            <p class="question">15. Любите ли Вы убеждать других, навязывать свои взгляды?</p>
          <div class="variants">
            <div class="answer_1">
                <input id="radio-50" type="radio" name="group4" value="1" >
                <label for="radio-50">Radio button 1</label>
            </div>

            <div class="answer_2">
                <input id="radio-51" type="radio" name="group4" value="2" >
                <label for="radio-51">Radio button 2</label>
            </div>

            <div class="answer_3">
                <input id="radio-52" type="radio" name="group4" value="3" >
                <label for="radio-52">Radio button 3</label>
            </div>

            <div class="answer_4">
                <input id="radio-53" type="radio" name="group4" value="4" >
                <label for="radio-53">Radio button 3</label>
            </div>
            
            </div>
        </div>
        
        <div class="question_16 line">
            <p class="question">16. Тест как метод изучения личности в психологии:</p>
          <div class="variants">
            <div class="answer_1">
                <input id="radio-54" type="radio" name="radio" value="1" >
                <label for="radio-54">Radio button 1</label>
            </div>

            <div class="answer_2">
                <input id="radio-55" type="radio" name="radio" value="2" >
                <label for="radio-55">Radio button 2</label>
            </div>

            <div class="answer_3">
                <input id="radio-56" type="radio" name="radio" value="3" >
                <label for="radio-56">Radio button 3</label>
            </div>
            <div class="answer_4">
                <input id="radio-57" type="radio" name="radio" value="4" >
                <label for="radio-57">Radio button 4</label>
            </div>
            <div class="answer_5">
                <input id="radio-58" type="radio" name="radio" value="5" >
                <label for="radio-58">Radio button </label>
            </div>
            </div>
        </div>


        <div class="question_17 line">
            <p class="question">17. Склонны ли Вы хохотать, смеяться от души?</p>
          <div class="variants">
            <div class="answer_1">
                <input id="radio-59" type="radio" name="group2" value="1" >
                <label for="radio-59">Radio button 1</label>
            </div>

            <div class="answer_2">
                <input id="radio-60" type="radio" name="group2" value="2" >
                <label for="radio-60">Radio button 2</label>
            </div>

            <div class="answer_3">
                <input id="radio-61" type="radio" name="group2" value="3" >
                <label for="radio-61">Radio button 3</label>
            </div>
            
            </div>
        </div>


        <div class="question_18 line">
            <p class="question">18. Любите ли Вы убеждать других, навязывать свои взгляды?</p>
          <div class="variants">
            <div class="answer_1">
                <input id="radio-62" type="radio" name="group3" value="1" >
                <label for="radio-62">Radio button 1</label>
            </div>

            <div class="answer_2">
                <input id="radio-63" type="radio" name="group3" value="2" >
                <label for="radio-63">Radio button 2</label>
            </div>

            <div class="answer_3">
                <input id="radio-64" type="radio" name="group3" value="3" >
                <label for="radio-64">Radio button 3</label>
            </div>

            <div class="answer_4">
                <input id="radio-65" type="radio" name="group3" value="4" >
                <label for="radio-65">Radio button 3</label>
            </div>
            
            </div>
        </div>


        <div class="question_19 line">
            <p class="question">19. Вы сильно беспокоитесь о возможных неприятностях:</p>
          <div class="variants">
            <div class="answer_1">
                <input id="radio-66" type="radio" name="group4" value="1" >
                <label for="radio-66">Radio button 1</label>
            </div>

            <div class="answer_2">
                <input id="radio-67" type="radio" name="group4" value="2" >
                <label for="radio-67">Radio button 2</label>
            </div>
            </div>
        </div>
        
        

        <div class="question_20 line">
            <p class="question">20. Любите ли Вы убеждать других, навязывать свои взгляды?</p>
          <div class="variants">
            <div class="answer_1">
                <input id="radio-68" type="radio" name="group4" value="1" >
                <label for="radio-68">Radio button 1</label>
            </div>

            <div class="answer_2">
                <input id="radio-69" type="radio" name="group4" value="2" >
                <label for="radio-69">Radio button 2</label>
            </div>

            <div class="answer_3">
                <input id="radio-70" type="radio" name="group4" value="3" >
                <label for="radio-70">Radio button 3</label>
            </div>

            <div class="answer_4">
                <input id="radio-71" type="radio" name="group4" value="4" >
                <label for="radio-71">Radio button 3</label>
            </div>
            
            </div>
        </div>



            </div>
         </div>
    </div>
</main>
























<footer>
    <div class="logo">
    <a href="/"><img class="logo" src="../style/icons/logo.svg" alt="invalid"></a>
    <p>Dii Consentes</p>
    </div>
    <nav>
        <ul>
            <li><a>Категории</a></li>
            <li><a>О нас</a></li>
            <li><a>Отзывы</a></li>
            <li><a>Контакты</a></li>
        </ul>
        <ul>
            <li><a>Войти</a></li>
            <li><a>Тесты</a></li>
            <li><a>Поддержка</a></li>
        </ul>
        <div class="icons_contact">
            <a href="#"><img alt="whatsup" src="../style/icons/whatsup.svg"></a>
            <a href="#"><img alt="gmail" src="../style/icons/gmail.svg"></a>
            <a href="#"><img alt="telegram" src="../style/icons/telegram.svg"></a>
        </div>
    </nav>
</footer>
<div class="add_info">
    <p>© 2022-2030 DiagnoTests</p>
    <a href="#">Правовая информация</a>
</div>
</body>
</html>