<!DOCTYPE html>
<html lang="ru">
<head>
<link rel="stylesheet" href="style/style.css">
<link rel="stylesheet" href="style/style_header.css">
<link rel="stylesheet" href="style/style_form.css">
<link rel="stylesheet" href="style/style_button.css">
<link rel="stylesheet" href="style/style_pers_area.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet"> 
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalabel=no"/>
<title>Самотой.com</title>
</head> 
<header>
    <a href="/"><img class="logo" src="style/icons/logo.svg" alt="invalid"></a>
     <h1>Dii Consentes</h1>
     <ul>
    <li><a href="#">Главная</a></li>
    <li><a href="#">О нас</a></li>
    <li><a href="#">Тестирование</a></li>
    </ul>
    <div class="btns">
        <a href="" class="button_enter">Войти</a>
    </div>
</header>
<main id="personality_area">
    <h2>Личный кабинет</h2>
    <div class="pers_area">
        <div class="links">
            <ul>
                <li><a href="#">Личные данные</a></li>
                <li><a href="#">Мои тестирования</a></li>
                <li><a href="#">История тестов</a></li>
            </ul>
        </div>
        <div class="pers_info">
            <form action="">
                <label for="login">ID</label>
                <input type="text" id="login" value="#14214">
                <label for="email" >E-mail</label>
                <input id="email" type="email" value="iliatortuga@mail.ru">
                <label for="pass">Пароль</label>
                <input id="pass" type="password" value="**********">
                <label for="phone_number">Телефон</label>
                <input id="phone_number" type="tel" value="+8(800)-555-35-35">
            </form>
        </div>
        <div class="photo">
        <div class="edit_photo">
            <img alt="pers_photo" src="style/icons/logo.svg">
            <p>Фотография профиля</p>
        </div>
            <button><a href="#">Заменить</a></button>
        </div>
</main>
<footer>
    <div class="logo">
    <a href="/"><img class="logo" src="style/icons/logo.svg" alt="invalid"></a>
    <p>Dii Consentes</p>
    </div>
    <nav>
        <ul>
            <li><a>Категории</a></li>
            <li><a>О нас</a></li>
            <li><a>Отзывы</a></li>
            <li><a>Контакты</a></li>
        </ul>
        <ul>
            <li><a>Войти</a></li>
            <li><a>Тесты</a></li>
            <li><a>Поддержка</a></li>
        </ul>
        <div class="icons_contact">
            <a href="#"><img alt="whatsup" src="style/icons/whatsup.svg"></a>
            <a href="#"><img alt="gmail" src="style/icons/gmail.svg"></a>
            <a href="#"><img alt="telegram" src="style/icons/telegram.svg"></a>
        </div>
    </nav>
</footer>
<div class="add_info">
    <p>© 2022-2030 DiagnoTests</p>
    <a href="#">Правовая информация</a>
</div>
</body>
</html>