* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: 'Montserrat', sans-serif;
}
a {
    text-decoration: none;
}
/* тело */
 main {
     display: flex;
     flex-direction: column;
     align-items: center;
 }
 img {
     max-width: 100%;
 }
 p {
     font-size: 14px;
 }
 